<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head'); %>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg" style="background-color: #e3f2fd">
      <div class=" mx-auto d-flex justify-content-center">
        <h1>Forgot Password</h1>
      </div>
    </nav>

    <main>
      <form action="/api/user/GetResetLink" method="POST" id="GetResetLink">
        <div class="container my-5">
          <div class="mb-3 row mx-auto">
            <label for="email" class="col-sm-2 col-form-label"></label>
              Registered email</label
            >
            <div class="col-sm-5">
              <input type="email" class="form-control" id="email" name="email" required/>
            </div>
          </div>
        <div>
            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-primary">Get Link</button>
              </div>
         
        </div>
      </form>
    </main>
    
    <script>
      document
        .getElementById("GetResetLink")
        .addEventListener("submit", async function (e) {
          e.preventDefault();
          
          const email = document.getElementById("email").value;


          try {
            const response = await fetch(`/api/user/GetResetLink`, {
              method: "POST",
              headers: {
                "Content-type": "application/json",
              },
              body: JSON.stringify({
                email: email,
              }),
            });

            if (!response.ok) {
              const errorData = await response.json();
              throw new Error(errorData.message || "Error creating account");
            } else {
              alert('Reset Link sent to your registered mail . Please open the link and reset your password .')
            }
          } catch (error) {
            console.error(error);
            alert(`Failed to Signup : ${error.message}`);
          }
        });
    </script>
    <footer><%- include('./partials/footer'); %></footer>
  </body>
</html>
